.App {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#nav-dropdown a {
  background: white;
  color: grey;
  justify-content: right;
}

.lastEdit{
  color:gray;
  font-size: small;
}


.bigFont {
  justify-content: flex-start;
  font-size: large;
}

td.subject {
  width: 20%
}

