.App {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
}

.child {
  display: flex;
  border: 1px solid black;
  align-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-right: auto;
  margin: 0 -4px -4px 0;
  padding: 0;
}

.customDropdown {
  background-color: white;
  color: black;
}

.lastEdit{
  color:gray;
  font-size: small;
}


.bigFont {
  justify-content: flex-start;
  font-size: large;
}

td.subject {
  width: 20%
}

